:root {
  --card-border-color: #153057;
  --card-numbers-color: #bd3620;
  --card-bg-color: #f0eade;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#root {
  display: flex;
}

body {
  position: relative;
}

h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h3 {
  padding: 15px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h4 {
  background: #f0eaded6;
  padding: 10px;
  font-family: "Jost", sans-serif;
  border-radius: 5px;
}

li {
  text-align: center;
  display: inline-block;
}
